<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../paper-autocomplete/paper-autocomplete-suggestions.html">

<link rel="import" href="../bootstrap-import-styles/bootstrap4-styles.html">

<dom-module id="ug-busqueda-usuarios">
  <template>
    <style include="bootstrap4-styles">
      :host {
        display: block;
      }

      label {
        font-size: 14px;
      }

      .rotulo_campo_obligatorio {
        font-size: 1.1rem;
        color: #F44336;
        font-weight: 900;
      }

      .c_buscar_usuario {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
      }

      @media (min-width: 401px) {
        .c_buscar_usuario {
          display: grid;
          grid-gap: 1rem;
          grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        }
        .c_form_usuario {
          display: grid;
          grid-gap: 0.5rem;
          grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        }
      }

      .c_form_usuario {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
    </style>

    <iron-ajax id="ajax_autocomplete_id" auto url="{{urlAutocomplete}}" handle-as="json" last-response="{{jsonAutocompleteData}}"
      loading="{{autcompleteLoading}}"></iron-ajax>
    <iron-ajax id="ajax_id" auto url="{{urlAdditional}}" handle-as="json" last-response="{{jsonAdditionalData}}" loading="{{loading}}"></iron-ajax>

    <section>
      <div class="card bg-light">
        <template is="dom-if" if="[[!esDefinido]]">
          <div class="card-header">
            <div class="form-group">
              <label for="slc_tipo_usuario" class="control-label">Tipo de usuario: </label>
              <select class="form-control" id="slc_tipo_usuario" name="slc_tipo_usuario" on-change="_tipoUsuarioSelected">
                <option value=""> Seleccione un tipo </option>
                <!-- <option value="0">Intranet</option> -->
                <option value="1">Alumno</option>
                <option value="2">Empleado</option>
              </select>
            </div>
          </div>
        </template>
        <div class="card-body">
          <div class="c_buscar_usuario">
            <div class="form-group" id="div_buscar_interno" hidden$="[[esSeleccione]]">
              <label for="txt_buscar_interno" class="control-label">Buscar a: </label>
              <template is="dom-if" if="{{autcompleteLoading}}">
                <paper-spinner alt="Cargando datos" active></paper-spinner>
              </template>
              <template is="dom-if" if="{{loading}}">
                <paper-spinner alt="Cargando datos" active></paper-spinner>
              </template>
              <input type="text" id="txt_buscar_interno" class="form-control" />
              <paper-autocomplete-suggestions id="autocomplete_id" for="txt_buscar_interno" show-results-on-focus min-length="4" remote-source
                on-autocomplete-change="_autocompleteChange" on-autocomplete-selected="_autocompleteSelected"></paper-autocomplete-suggestions>
            </div>
          </div>
          <form id="formulario">
            <div class="c_form_usuario">
              <template is="dom-if" if="[[usuarioAdministrativo]]">
                <div class="form-group form_empleado" hidden$="[[!findEmpleado]]">
                  <label for="txt_nue" class="control-label">Núm. Único de Empleado:
                    <span class="rotulo_campo_obligatorio"> *</span>
                  </label>
                  <input type="text" id="txt_nue" value="[[dataUsuario.nue]]" class="form-control" required readonly tabindex="-1" />
                </div>
              </template>
              <template is="dom-if" if="[[usuarioAdministrativo]]">
                <div class="form-group form_alumno" hidden$="[[!findAlumno]]">
                  <label for="txt_nua" class="control-label">Núm. Único de Alumno:
                    <span class="rotulo_campo_obligatorio"> *</span>
                  </label>
                  <input type="text" id="txt_nua" value="[[dataUsuario.nua]]" class="form-control" required readonly tabindex="-1" />
                </div>
              </template>
              <div class="form-group" hidden$="[[esSeleccione]]">
                <label for="txt_nombre" class="control-label">Correo electrónico:
                  <span class="rotulo_campo_obligatorio"> *</span>
                </label>
                <input type="text" id="txt_correo" value="[[dataUsuario.email]]" class="form-control" required readonly tabindex="-1" />
              </div>
              <div class="form-group" hidden$="[[esSeleccione]]">
                <label for="txt_nombre_completo" class="control-label">Nombre completo:
                  <span class="rotulo_campo_obligatorio"> *</span>
                </label>
                <input type="text" id="txt_nombre_completo" value="[[dataUsuario.nombre_completo]]" class="form-control" required readonly
                  tabindex="-1" />
              </div>
              <div class="form-group" hidden$="[[esSeleccione]]">
                <label for="txt_campus" class="control-label">Campus:
                  <span class="rotulo_campo_obligatorio"> *</span>
                </label>
                <input type="text" id="txt_campus" value="[[dataUsuario.campus]]" class="form-control" required readonly tabindex="-1" />
              </div>
              <div class="form-group" hidden$="[[esSeleccione]]">
                <label for="txt_division" class="control-label">División:
                  <span class="rotulo_campo_obligatorio"> *</span>
                </label>
                <input type="text" id="txt_division" value="[[dataUsuario.division]]" class="form-control" required readonly tabindex="-1"
                />
              </div>
              <div class="form-group" hidden$="[[esSeleccione]]">
                <label for="txt_dependencia" class="control-label">Dependencia:</label>
                <input type="text" id="txt_dependencia" value="[[dataUsuario.departamento]]" class="form-control" required readonly tabindex="-1"
                />
              </div>
              <div class="form-group" hidden$="[[!findAlumno]]">
                <label for="txt_programa_educativo" class="control-label">Programa Educativo:</label>
                <input type="text" id="txt_programa_educativo" value="[[dataUsuario.nombre_programa]]" class="form-control" required readonly
                  tabindex="-1" />
              </div>
              <div class="form-group" hidden$="[[!findAlumno]]">
                <label for="txt_nivel_educativo" class="control-label">Nivel Educativo:</label>
                <input type="text" id="txt_nivel_educativo" value="[[dataUsuario.nivel_educativo]]" class="form-control" required readonly
                  tabindex="-1" />
              </div>
              <div class="form-group" hidden$="[[!findAlumno]]">
                <label for="txt_num_inscripcion" class="control-label">Número de inscripción:</label>
                <input type="text" id="txt_num_inscripcion" value="[[dataUsuario.num_inscripcion]]" class="form-control" required readonly
                  tabindex="-1" />
              </div>
              <div class="form-group form_alumno" hidden$="[[!findAlumno]]">
                <label for="txt_ultima_fecha_inscripcion" class="control-label">Última fecha de inscripción:
                </label>
                <input type="text" id="txt_ultima_fecha_inscripcion" value="[[dataUsuario.ultima_fecha_inscripcion]]" class="form-control"
                  readonly tabindex="-1" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </template>

  <script>
    const dataUsuarioInit = {
      'id_usuario': '',
      'nue': '',
      'nua': '',
      'email': '',
      'nombre_completo': '',
      'id_campus': '',
      'campus': '',
      'id_division': '',
      'division': '',
      'id_departamento': '',
      'departamento': '',
      'nombre': '',
      'apellido1': '',
      'apellido2': ''
    }

    /**
    * `ug-busqueda-usuarios`
    * Busqueda de los usuarios de la universidad en base a empleados o alumnos 
    *
    */
    class UgBusquedaUsuarios extends Polymer.Element {
      static get is() { return 'ug-busqueda-usuarios'; }
      static get properties() {
        return {
          usuarioAlumno: {
            type: Boolean,
            value: false,
            observer: '_usuarioAlumnoObs'
          },
          usuarioAdministrativo: {
            type: Boolean,
            value: false,
            observer: '_usuarioAdministrativoObs'
          },
          findInscrito: {
            type: Boolean,
            value: false,
            observer: '_findInscritoObs'
          },
          findIdNivelEducativo: {
            type: Number,
            value: 0,
            observer: '_findIdNivelEducativoObs'
          },
          findNivelMedioSuperior: {
            type: Boolean,
            value: false,
            observer: '_findNivelMedioSuperiorObs'
          },
          findNivelSuperior: {
            type: Boolean,
            value: false,
            observer: '_findNivelSuperiorObs'
          },
          findNivelPosgrado: {
            type: Boolean,
            value: false,
            observer: '_findNivelPosgradoObs'
          },
          findAlumno: {
            type: Boolean,
            value: false
          },
          findEmpleado: {
            type: Boolean,
            value: false
          },
          esDefinido: {
            type: Boolean,
            value: false,
            readOnly: true
          },
          esSeleccione: {
            type: Boolean,
            value: true,
            readOnly: true
          },
          busqueda: {
            type: String,
            readOnly: true
          },
          dataUsuario: {
            type: Object,
            readOnly: true,
            reflectToAttribute: true
          },
          urlAutocomplete: {
            type: String,
            computed: '_urlAutocompleteComputed(busqueda)',
            readOnly: true
          },
          jsonAutocompleteData: {
            type: Array,
            observer: '_jsonAutocompleteDataChanged'
          },
          urlAdditional: {
            type: String,
            readOnly: true
          },
          jsonAdditionalData: {
            type: Array,
            observer: '_jsonAdditionalDataChanged'
          },
        };
      }

      ready() {
        super.ready();
      }
      connectedCallback() {
        super.connectedCallback();
        this._setDataUsuario(dataUsuarioInit);

        //Custom Query Fn
        this.$.autocomplete_id.queryFn = function (datasource, query) {
          var queryResult = [];
          datasource.forEach(function (item) {
            var objText, objValue;
            if (typeof item === 'object') {
              objText = item[this.textProperty];
              objValue = item[this.valueProperty];
            } else {
              objText = item.toString();
              objValue = objText;
            }
            if (objText.toLowerCase().includes(query.toLowerCase())) {
              queryResult.push({
                text: objText,
                value: objValue
              });
            }
          }.bind(this));
          return queryResult;
        };
        //Custom Query Fn
        //Has Predefined Search
        if (this.findEmpleado || this.findAlumno) {
          this._setEsSeleccione(false);
          this._setEsDefinido(true);
        }
        //Has Predefined Search
      }

      resetForm() {
        this.$.txt_buscar_interno.value = '';
        this._setDataUsuario(dataUsuarioInit);
        this.$.formulario.reset();
        this._setUrlAdditional('');
        this.jsonAdditionalData = null;
      }

      _tipoUsuarioSelected() {
        let val = this.shadowRoot.querySelector('#slc_tipo_usuario').value;
        this.resetForm();
        if (val === '1') {
          this.findAlumno = true;
          this.findEmpleado = false;
          this._setEsSeleccione(false);
          this.dispatchEvent(new CustomEvent('tipo_usuario_selected', {
            bubbles: true, composed: true,
            detail: { id: 1, tipo: 'alumno' }
          }));
        }
        else if (val === '2') {
          this.findAlumno = false;
          this.findEmpleado = true;
          this._setEsSeleccione(false);
          this.dispatchEvent(new CustomEvent('tipo_usuario_selected', {
            bubbles: true, composed: true,
            detail: { id: 2, tipo: 'empleado' }
          }));
        }
        else {
          this.findAlumno = false;
          this.findEmpleado = false;
          this._setEsSeleccione(true);
          this.dispatchEvent(new CustomEvent('tipo_usuario_selected', {
            bubbles: true, composed: true,
            detail: { id: 0, tipo: 'ninguno' }
          }));
        }
      }

      _urlAutocompleteComputed(busqueda) {
        if (busqueda && this.esSeleccione === false) {
          let tipo = '';
          if (this.findAlumno) {
            tipo = 1;
          }
          if (this.findEmpleado) {
            tipo = 2;
          }
          let urlAutocomplete = `https://intraug.ugto.mx/ConcursoCreatividadInnovacion/Participantes/AutoCompletarUsuarios?tipo=${tipo}&term=${busqueda}`;
          //let urlAutocomplete = `http://localhost:49644/Participantes/AutoCompletarUsuarios?tipo=${tipo}&term=${busqueda}`;
          return urlAutocomplete;
        }
        return '';
      }

      _jsonAutocompleteDataChanged() {
        let sugestiones = [];
        for (let key in this.jsonAutocompleteData) {
          if (this.jsonAutocompleteData.hasOwnProperty(key)) {
            let elemento = this.jsonAutocompleteData[key];
            let value = elemento.id_usuario;
            let text = elemento.value;
            if (this.findAlumno) {
              text = elemento.nombre_completo;
            }
            sugestiones.push({
              text: text, value: value,
              email: elemento.email,
              nombre_completo: elemento.nombre_completo,
              id_empleado: elemento.id_empleado,
              nua: elemento.nua,
              campus_id: elemento.id_campus,
              campus: elemento.descr_campus,
              division_id: elemento.id_division,
              division: elemento.descr_division,
              departamento_id: elemento.id_departamento,
              departamento: elemento.descr_departamento,
              nombre: elemento.nombre,
              apellido1: elemento.apellido1,
              apellido2: elemento.apellido2
            });
          }
        }
        this.$.autocomplete_id.suggestions(sugestiones);
      }

      _autocompleteChange(e) {
        let busqueda = e.detail.value;
        this._setBusqueda(busqueda);
      }

      _autocompleteSelected(e) {
        let opcion = e.detail.option;
        this._setDataUsuario({
          id_usuario: opcion.value,
          nue: opcion.id_empleado,
          nua: opcion.nua,
          nombre_completo: opcion.nombre_completo,
          id_campus: opcion.campus_id,
          campus: opcion.campus,
          id_division: opcion.division_id,
          division: opcion.division,
          id_departamento: opcion.departamento_id,
          departamento: opcion.departamento,
          nombre: opcion.nombre,
          apellido1: opcion.apellido1,
          apellido2: opcion.apellido2
        });
        this._findjsonAdditionalData(opcion.id_empleado, opcion.nua)
      }

      _findjsonAdditionalData(nue, nua) {
        if (this.findEmpleado) {
          this._findDataEmpleado(nue);
        }
        else if (this.findAlumno) {
          this._findDataAlumno(nua);
        }
      }

      _findDataEmpleado(nue) {
          return this._setUrlAdditional('https://intraug.ugto.mx/ConcursoCreatividadInnovacion/Participantes/findDatosEmpleadoByNue?nue=' + nue);
          //return this._setUrlAdditional('http://localhost:49644/Participantes/findDatosEmpleadoByNue?nue=' + nue);
      }
        _findDataAlumno(nua) {
            let url = `https://intraug.ugto.mx/ConcursoCreatividadInnovacion/Participantes/findDatosAlumnoByNua?nua=${nua}`;
            //let url = `http://localhost:49644/Participantes/findDatosAlumnoByNua?nua=${nua}`;
        if (this.findInscrito) {
          console.log('if this.findInscrito', this.findInscrito);
          url += `&inscrito=true`;
        }
        if (this.findIdNivelEducativo > 0) {
          console.log('if this.findIdNivelEducativo', this.findIdNivelEducativo);
          url += `&id_nivel=${this.findIdNivelEducativo}`
        }
        if (this.findNivelMedioSuperior) {
          console.log('if this.esNMS', this.findNivelMedioSuperior);
          url += `&nms=true`;
        }
        if (this.findNivelSuperior) {
          console.log('if this.esNS', this.findNivelSuperior);
          url += `&ns=true`;
        }
        return this._setUrlAdditional(url);
      }

      _jsonAdditionalDataChanged(jsonAdditionalData) {
        if (jsonAdditionalData) {
          this._setCompleteDataUsuario(jsonAdditionalData).then(() => {
            this.$.txt_buscar_interno.value = '';
            this._setUrlAdditional('');
            this.jsonAdditionalData = null;
          })
        }
      }
      _setCompleteDataUsuario(jsonAdditionalData) {
        return new Promise((resolve, reject) => {
          if (this.findEmpleado) {
            this._setCompleteDataEmpleado(jsonAdditionalData);
          }
          else if (this.findAlumno) {
            this._setCompleteDataAlumno(jsonAdditionalData);
          }
          return resolve(1);
        });
      }

      _setCompleteDataEmpleado(empleado) {
        this._setDataUsuario({
          id_usuario: this.dataUsuario.id_usuario,
          email: empleado.email,
          nue: this.dataUsuario.nue,
          nua: this.dataUsuario.nua,
          nombre_completo: this.dataUsuario.nombre_completo,
          id_campus: this.dataUsuario.id_campus,
          campus: this.dataUsuario.campus,
          id_division: this.dataUsuario.id_division,
          division: this.dataUsuario.division,
          id_departamento: this.dataUsuario.id_departamento,
          departamento: this.dataUsuario.departamento,
          nombre: empleado.nombre,
          apellido1: empleado.apellido1,
          apellido2: empleado.apellido2
        });
      }
      _setCompleteDataAlumno(alumno) {
        let fecha = getDateISOFormat(alumno.ultima_fecha_inscripcion);
        // this.$.txt_ultima_fecha_inscripcion.value = fecha;
        this._setDataUsuario({
          id_usuario: this.dataUsuario.id_usuario,
          email: alumno.email,
          nue: this.dataUsuario.nue,
          nua: this.dataUsuario.nua,
          nombre_completo: this.dataUsuario.nombre_completo,
          id_campus: alumno.id_campus,
          campus: alumno.descr_campus,
          id_division: alumno.id_division,
          division: alumno.descr_division,
          id_departamento: alumno.id_departamento,
          departamento: alumno.descr_departamento,
          nombre: this.dataUsuario.nombre,
          apellido1: this.dataUsuario.apellido1,
          apellido2: this.dataUsuario.apellido2,
          id_plan_unidad: alumno.id_plan_unidad,
          id_programa: alumno.id_programa,
          nombre_programa: alumno.nombre_programa,
          id_nivel_educativo: alumno.id_nivel_educativo,
          nivel_educativo: alumno.nivel_educativo,
          nombre_nivel_educativo: alumno.nombre_nivel_educativo,
          num_inscripcion: alumno.num_inscripcion,
          ultima_fecha_inscripcion: fecha
        });
      }

      _usuarioAdministrativoObs(usuarioAdministrativo) {
        if (usuarioAdministrativo) {
          this.usuarioAlumno = false;
        }
      }
      _usuarioAlumnoObs(usuarioAlumno) {
        if (usuarioAlumno) {
          this.usuarioAdministrativo = false;
        }
      }

      _findInscritoObs(findInscrito) {
        if (findInscrito) {
          this.findAlumno = true;
        }
      }
      _findIdNivelEducativoObs(findIdNivelEducativo) {
        if (findIdNivelEducativo > 0) {
          this.findAlumno = true;
        }
      }
      _findNivelMedioSuperiorObs(findNivelMedioSuperior) {
        if (findNivelMedioSuperior) {
          this.findAlumno = true;
        }
      }
      _findNivelSuperiorObs(findNivelSuperior) {
        if (findNivelSuperior) {
          this.findAlumno = true;
        }
      }
      _findNivelPosgradoObs(findNivelPosgrado) {
        if (findNivelPosgrado) {
          this.findAlumno = true;
        }
      }
    }

    window.customElements.define(UgBusquedaUsuarios.is, UgBusquedaUsuarios);

    function getDateISOFormat(date, opc) {
      let d;
      if (opc === 0) {
        d = new Date(date);
      }
      else {
        d = formatTimestampToDate(date);
      }
      let month = d.getMonth() + 1;
      return ((d.getDate() >= 10) ? d.getDate() : "0" + d.getDate()) + "-" + ((month >= 10) ? month : "0" + month) + "-" + d.getFullYear();
    };
    function formatTimestampToDate(date) {
      return new Date(parseInt(date.substr(6)));
    };
  </script>
</dom-module>